@model Interview_task.Models.LoginViewModel

<h2>Login</h2>

<form asp-action="Login" method="post">

    <div>
        <label>Username</label>
        <input asp-for="Username" />
    </div>

    <br />

    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" />
    </div>

    <br />

    <button type="submit">
        Login
    </button>

</form>