@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Interview_task.Models.CurrencyViewModel

<h2>Currency Converter</h2>

<form method="post">

    <div>
        <label>Amount</label>
        <input asp-for="Amount" />
    </div>

    <br />

    <div>
        <label>From Currency</label>
        <input asp-for="FromCurrency" />
    </div>

    <br />

    <div>
        <label>To Currency</label>
        <input asp-for="ToCurrency" />
    </div>

    <br />

    <button type="submit">
        Convert
    </button>

</form>