@using System.Security.Claims

<h2>Secure Page</h2>

<hr />

<h3>Welcome @User.Identity?.Name</h3>

<p>
    <strong>Email:</strong>
    @User.FindFirst(ClaimTypes.Email)?.Value
</p>

<p>
    <strong>Logged in using:</strong>
    @User.Identity?.AuthenticationType
</p>

<a asp-controller="Account"
   asp-action="Logout"
   class="btn btn-danger">
    Logout
</a>